In [7]:
import pandas as pd
from prophet import Prophet

# Importing the dataset

In [9]:
df = pd.read_csv('/workspaces/FUTURE_ML_01/data/mock_kaggle.csv')

In [10]:
df.head()

         data  venda  estoque  preco
0  2014-01-01      0     4972   1.29
1  2014-01-02     70     4902   1.29
2  2014-01-03     59     4843   1.29
3  2014-01-04     93     4750   1.29
4  2014-01-05     96     4654   1.29